[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-paperiton
Exec=harbour-paperiton
Name=Paperiton
Comment=Paperless-ngx client
Comment[it]=Client per Paperless-ngx
X-Share-Methods=upload
X-DBusActivatable=true

[X-Sailjail]
OrganizationName=org.frapps.paperiton
ApplicationName=harbour-paperiton
Permissions=Internet;Documents;Downloads;Pictures;Camera;Secrets;WebView;MediaIndexing;RemovableMedia
ExecDBus=harbour-paperiton

[X-Share Method upload]
Description=Add to your Paperless archive
Description[it]=Aggiungi al tuo archivio Paperless
Capabilities=application/pdf;image/*;text/plain
SupportsMultipleFiles=true

[X-HarbourBackup]
BackupPathList=.config/org.frapps.paperiton/harbour-paperiton/
